{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
<div>
	<table>
		
		<caption> Gestion des Projets </caption>
		<tr> 
			<th>Nom Projet</th> 
			<th>Avancement</th> 
			<th>Ressources affectés</th>
			<th>Action</th>    
		</tr>

		{% for project in projects %}
		<tr>
			<td>{{ project.name }}</td>
			<td>{{ project.progress }}%</td>
			<td>La Mort</td>
			<td><a href="{{ url('') }}">Supprimer</a></td>
		</tr>
		{% endfor %}
		
	</table>
</div>

{{ form_start(createProjectForm) }}
{{ form_widget(createProjectForm) }}
<div>
	<input type="submit"/>
</div>
{{ form_end(createProjectForm) }}

{#<div id="div-but" class="btn-group" style="display: block; margin: 0 auto;">
	<button id="button-other" class="button">Créer une tâche</button>
	<button id="button-other" class="button">Supprimer une tâche</button>
	<button id="button-other" class="button">Modifier une tâche</button>
</div>#}
{% endblock %}