{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
<div>
	<table>
		
		<caption> Gestion des Projets </caption>
		<tr> 
			<th>Nom Projet</th> 
			<th>Référent</th>
			<th>Responsable</th>
			<th>Coût réel</th>
			<th>Coût vendu</th>
			<th>Avancement</th>
			<th>Gain</th>
			<th>Nombre de resources moyennes</th>
			<th>Action</th>
		</tr>

		{% for project in projects %}
		<tr>
			<td><a href="{{ url('core_project_edit', { id: project.id }) }}">{{ project.name }}</a></td>
			<td>{{ project.referent.username }}</td>
			<td>{{ project.responsible.username }}</td>
			<td>{{ project.costToDeliver }}</td>
			<td>{{ project.sellCost }}</td>
			<td>{{ project.progress }}%</td>
			<td>{{ project.gain }}</td>
			<td>{{ project.resourceAverageNumber }}</td>
			<td><a href="{{ url('core_project_delete', { id: project.id }) }}">Supprimer</a></td>
		</tr>
		{% endfor %}
		
	</table>
</div>

{{ form_start(createProjectForm) }}
{{ form_widget(createProjectForm) }}
<div>
	<input type="submit"/>
</div>
{{ form_end(createProjectForm) }}
{% endblock %}